@model IEnumerable<Construction.com.Arquitecto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/Content/css/arquitecto.css"/>
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="alert alert-success alert-dismissible" role="alert" id="felicidad" style="display:none;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Felicidades!!</strong>Su proceso de contratación ha iniciado satisfactoriamente!.
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="" alt="...">
                <div class="caption">
                    <h3>Arquitecto</h3>
                    <p><b>Nombre Completo:</b></p>
                    <p>@Html.DisplayFor(modelItem => item.nombreCompleto)</p>
                    <p><b>Domicilio:</b></p>
                    <p>@Html.DisplayFor(modelItem => item.domicilio)</p>
                    <p><b>Años de Experiencia:</b></p>
                    <p>@Html.DisplayFor(modelItem => item.aniosExpe) años</p>
                    <p><b>Contactos:</b></p>
                    <p>@Html.DisplayFor(modelItem => item.contactos)</p>
                    <button type="button" class="btn btn-success dropdown-toggle" aria-haspopup="true" aria-expanded="false">@Html.ActionLink("Ver Perfil", "Details", new { id = item.codigoAr })</button>
                </div>
            </div>
        </div>

    }
</div>






