@model IEnumerable<Construction.com.Albanil>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/Content/css/albanil.css"/>
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreCompleto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.domicilio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aniosExpe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trabajosAnteriores)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contactos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recomendaciones)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.domicilio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aniosExpe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trabajosAnteriores)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contactos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recomendaciones)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.codigoAl }) |
            @Html.ActionLink("Ver Perfil", "Details", new { id=item.codigoAl }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.codigoAl })
        </td>
    </tr>
}

</table>*@

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="..." alt="...">
                <div class="caption">
                    <h3>Albañil</h3>
                    <p><b>Nombre Completo:</b></p>
                    <p>@Html.DisplayFor(modelItem => item.nombreCompleto)</p>
                    <p><b>Domicilio:</b></p>
                    <p>@Html.DisplayFor(modelItem => item.domicilio)</p>
                    <p><b>Años de Experiencia:</b></p>
                    <p>@Html.DisplayFor(modelItem => item.aniosExpe) años</p>
                    <p><b>Contactos:</b></p>
                    <p>@Html.DisplayFor(modelItem => item.contactos)</p>
                    <button type="button" class="btn btn-success dropdown-toggle" aria-haspopup="true" aria-expanded="false">@Html.ActionLink("Ver Perfil", "Details", new { id = item.codigoAl })</button>
                </div>
            </div>
        </div>

    }
</div>